.citacao-referencia{
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    border-bottom-color: #333;
    border-right-color: #FFF;
    box-sizing: border-box;
    margin: 1em 2em;
    padding: 1em;
    width: 30ch;
}

#citacao-fiat{
    float: right;
}

#citacao-petrobras{
    float: left;
}

cite{
    font-style: italic;
    float: right;
}