/*#dialogo{
    width: 40%;
    top: 50%;
    left: 50%;
    z-index: 9999;
    position: fixed;
    padding: 10% 3%;
    font-size: 2em;
    text-align: center;
    background-color: #FFF;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);
}*/